SECRET_KEY=Your_Big_Super_Top_Secret_Key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1, localhost
DATABASE_URL=postgres://postgres:postgres@localhost/blog
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
